<section style="background:#efefe9;">
  <div class="container">
    <div class="board">
      <div class="tab-content">

        <body>
          <h3 style="margin-left:380px;">Users</h3>
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center">
                  <i class="icon-people"></i>
                </th>
                <th>User</th>
                <th class="text-center"></th>
                <th>Ordered Report</th>
                <th class="text-center">Purchase Amount</th>
                <th>Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img class="img-avatar" src="../assets/img/avatars/1.jpg" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Yiorgos Avraamu</div>
                  <div class="small text-muted">
                    Registered: Jun 11, 2018</div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-us h4 mb-0" id="us" title="us"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>5</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2018 - Jul 10, 2018</small>
                    </div>
                  </div>
                  <!-- <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                </td>
                <td class="text-center">
                  <!-- <i class="fa fa-cc-mastercard" style="font-size:24px"></i> -->
                  <div class="float-left">
                    <strong>5000</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2018 - Jul 10, 2018</small>
                  </div>
                </td>
                <!-- <td>
                  <div class="small text-muted">Last login</div>
                  <strong>10 sec ago</strong>
                </td> -->
                <td>
                  <i class="fa fa-envelope-o" style="font-size:24px;padding-right:10px;"></i>
                  <i class="far fa-times-circle" style="font-size:24px"></i>
                  <!-- <mat-icon style="font-size:24px;">loop</mat-icon> -->
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img class="img-avatar" src="../assets/img/avatars/2.jpg" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Avram Tarasios</div>
                  <div class="small text-muted">
                    Registered: Jun 11, 2018</div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-br h4 mb-0" id="br" title="br"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>10</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2018 - Jul 10, 2018</small>
                    </div>
                  </div>
                  <!-- <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                </td>
                <td class="text-center">
                  <!-- <i class="fa fa-cc-visa" style="font-size:24px"></i> -->
                  <div class="float-left">
                    <strong>10</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2018 - Jul 10, 2018</small>
                  </div>
                </td>
                <!-- <td>
                  <div class="small text-muted">Last login</div>
                  <strong>5 minutes ago</strong>
                </td> -->
                <td>
                  <i class="fa fa-envelope-o" style="font-size:24px;padding-right:10px;"></i>
                  <i class="far fa-times-circle" style="font-size:24px"></i>
                  <!-- <mat-icon style="font-size:24px;">loop</mat-icon> -->
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img class="img-avatar" src="../assets/img/avatars/3.jpg" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-warning"></span>
                  </div>
                </td>
                <td>
                  <div>Quintin Ed</div>
                  <div class="small text-muted">
                    Registered: Jun 11, 2018</div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-in h4 mb-0" id="in" title="in"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>7</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2018 - Jul 10, 2018</small>
                    </div>
                  </div>
                  <!-- <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 74%" aria-valuenow="74"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                </td>
                <td class="text-center">
                  <!-- <i class="fa fa-cc-stripe" style="font-size:24px"></i> -->
                  <div class="float-left">
                    <strong>7</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2018 - Jul 10, 2018</small>
                  </div>
                </td>
                <!-- <td>
                  <div class="small text-muted">Last login</div>
                  <strong>1 hour ago</strong>
                </td> -->
                <td>
                  <i class="fa fa-envelope-o" style="font-size:24px;padding-right:10px;"></i>
                  <i class="far fa-times-circle" style="font-size:24px"></i>
                  <!-- <mat-icon style="font-size:24px;">loop</mat-icon> -->
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img class="img-avatar" src="../assets/img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-secondary"></span>
                  </div>
                </td>
                <td>
                  <div>Enéas Kwadwo</div>
                  <div class="small text-muted">
                    Registered: Jun 11, 2018</div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-fr h4 mb-0" id="fr" title="fr"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>9</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2018 - Jul 10, 2018</small>
                    </div>
                  </div>
                  <!-- <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 98%" aria-valuenow="98"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                </td>
                <td class="text-center">
                  <!-- <i class="fa fa-paypal" style="font-size:24px"></i> -->
                  <div class="float-left">
                    <strong>9</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2018 - Jul 10, 2018</small>
                  </div>
                </td>
                <!-- <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Last month</strong>
                </td> -->
                <td>
                  <i class="fa fa-envelope-o" style="font-size:24px;padding-right:10px;"></i>
                  <i class="far fa-times-circle" style="font-size:24px"></i>
                  <!-- <mat-icon style="font-size:24px;">loop</mat-icon> -->
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img class="img-avatar" src="../assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Friderik Dávid</div>
                  <div class="small text-muted">
                    Registered: Jun 11, 2018</div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-pl h4 mb-0" id="pl" title="pl"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>4</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2018 - Jul 10, 2018</small>
                    </div>
                  </div>
                  <!-- <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 43%" aria-valuenow="43"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                </td>
                <td class="text-center">
                  <!-- <i class="fa fa-cc-amex" style="font-size:24px"></i> -->
                  <div class="float-left">
                    <strong>4</strong>
                  </div>
                  <div class="float-right">
                    <small class="text-muted">Jun 11, 2018 - Jul 10, 2018</small>
                  </div>
                </td>
                <!-- <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Yesterday</strong>
                </td> -->
                <td>
                  <i class="fa fa-envelope-o" style="font-size:24px;padding-right:10px;"></i>
                  <i class="far fa-times-circle" style="font-size:24px"></i>
                  <!-- <mat-icon style="font-size:24px;">loop</mat-icon> -->
                </td>
              </tr>
            </tbody>
          </table>

        </body>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="node_modules/pace-progress/pace.min.js"></script>
        <script src="node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>
        <!-- Plugins and scripts required by this view-->
        <script src="node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
        <script src="js/main.js"></script>
      </div>
    </div>

    <!-- For Debugging: show our valid formData -->
    <!-- <pre>{{ formData | json }}</pre> -->
  </div>
</section>