<section style="background:#efefe9;">
  <div class="container">
    <div class="board">
      <div class="tab-content">
        <form #offerForm="ngForm" class="editForm" novalidate>
          <div class="form-horizontal">
            <div class="tab-pane fade in active">
              <h4 class="head text-center">{{title}}</h4>
              <div class='row'>
                <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                  <div class="form-group">
                    <label class="control-label" for="Question1">Choose Offer</label>
                    <select class="form-control" #questio1="ngModel" name="Question1" [(ngModel)]="Question1" required>
                      <!-- <option selected>Choose...</option> -->
                      <option value="1">Promo Offer</option>
                      <option value="2">Referral Offer</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="percent">Offer In Percentage</label>
                    <input class="form-control input-md" #percents="ngModel" required id="percent" name="firstname"
                      type="text" placeholder="Offer In Percentage" [(ngModel)]="percent">
                    <div class="alert alert-danger" *ngIf="percents.invalid && percents.touched">Field is required</div>
                  </div>

                  <div class="form-group">
                    <label class="control-label" for="from">Valid From</label>
                    <input class="form-control input-md" #froms="ngModel" required id="from" name="from" type="text"
                      placeholder="Valid From" [(ngModel)]="from">
                    <div class="alert alert-danger" *ngIf="froms.invalid && froms.touched">Field is required</div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="to">Valid To</label>
                    <input class="form-control input-md" #tos="ngModel" required id="to" name="to" type="text"
                      placeholder="Valid To" [(ngModel)]="to">
                    <div class="alert alert-danger" *ngIf="tos.invalid && tos.touched">Field is required</div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="to">Offer Code</label>
                    <input class="form-control input-md" #Codes="ngModel" required id="code" name="code" type="text"
                      placeholder="Offer Code" [(ngModel)]="code">
                    <div class="alert alert-danger" *ngIf="Codes.invalid && Codes.touched">Field is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center space-20">
                <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(workForm)"> <span style="margin-right:10px;"
                    class=""></span> Cancel </button>
                <button class="btn btn-outline-rounded btn-info" [disabled]="!offerForm.valid" (click)="goToNext(offerForm)">
                  Add <span style="margin-left:10px;" class=""></span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- For Debugging: show our valid formData -->
    <!-- <pre>{{ formData | json }}</pre> -->
  </div>
</section>